/* Global variables and styles */

@import url('https://fonts.googleapis.com/css2?family=Average&display=swap');

:root {
	--BG-COLOR-PRIMARY: #528560;
	--BG-COLOR-SECONDARY: #8BC3AF;
	--BG-COLOR-TERTIARY: #00000020;
	--BG-COLOR-LIGHTGREY: #D6E4E5;
	--BG-COLOR-GREY: #C2D2D3;
	--BG-COLOR-DARKGREY: #2d3131;

	--CARD-PADDING-TOP: 6px;
	--CARD-ROUNDING: 8px;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	background-attachment: fixed;
	background-image: url(https://i.imgur.com/F9rZOdC.png);
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Average', serif !important;
}

h1, h2, h3, h4, h5, h6 {
	text-align: center !important;
}

h1 {
	padding-top: 4px;
}

li {
	text-align: left !important;
}



/* Override Bootstrap stuff */
.btn-primary {
	--bs-btn-color: #000 !important;
	--bs-btn-bg: var(--BG-COLOR-SECONDARY) !important;
	--bs-btn-border-color: var(--BG-COLOR-SECONDARY) !important;
	--bs-btn-hover-bg: var(--BG-COLOR-PRIMARY) !important;
	--bs-btn-hover-border-color: var(--BG-COLOR-PRIMARY) !important;
	--bs-btn-active-bg: var(--BG-COLOR-SECONDARY) !important;
	--bs-btn-active-border-color: var(--BG-COLOR-SECONDARY) !important;
	--bs-btn-disabled-bg: var(--BG-COLOR-PRIMARY) !important;
	--bs-btn-disabled-border-color: var(--BG-COLOR-PRIMARY) !important;
}

.col {
	padding-top: var(--CARD-PADDING-TOP);
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.navbar {
	background-color: var(--BG-COLOR-PRIMARY) !important;
	color: white !important;
}

.nav-link {
	--bs-nav-link-color: #fff;
	--bs-nav-link-hover-color: #ccc;
}

.progress {
	background-color: var(--BG-COLOR-GREY) !important;
}

.progress-bar {
	background-color: var(--BG-COLOR-PRIMARY) !important;
}



/* Custom elements */

.go-card {
	margin: 16px;
	background-color: var(--BG-COLOR-SECONDARY);
	border-radius: var(--CARD-ROUNDING);
	height: auto !important;
	display:flex !important;
	flex-direction:column !important;
	text-align: center;
	
	
}

.go-card.go-card-form {
	background-color: var(--BG-COLOR-LIGHTGREY);
}

.go-navbar-profile-wrapper {
	background-color: var(--BG-COLOR-SECONDARY);
}

.go-navbar-profile-wrapper .nav-link {
	--bs-nav-link-color: #000;
	--bs-nav-link-hover-color: #333;
}

.go-progress-header .progress {
	border-radius: 0 0 var(--CARD-ROUNDING) var(--CARD-ROUNDING);
}


.go-location-card {
	margin-bottom: 0;
	
}

.go-location-card .col {
	margin-top: 0;
	padding-top: 0;
}

.go-location-card h4 {
	margin-top: var(--CARD-PADDING-TOP);
}

.go-location-card-visited-btn {
	position: absolute;
	top: 8px;
	right: 8px;
}

.go-location-card-img-wrapper {
	max-height: 100%;
	width: 100%;
	border-radius: 0 var(--CARD-ROUNDING) var(--CARD-ROUNDING) 0;
	overflow: hidden;
	position: relative;
}

.go-location-card img {
	width: 100%;
	height: 100%;
	object-position: bottom;
	object-fit: cover;
	top: 0;
}

.go-location-card p {
	text-indent: 1.5em;
	margin-left: 8px;
}

.go-login-wrapper {
	margin: 0 auto;
	text-align: center;
	width: 30%;
	margin-top: 5vh;
	padding: 16px;
}

.go-login-wrapper p {
	margin-bottom: 8px;
}

.go-login-wrapper form > :first-child {
	margin-top: 0px;
}

.go-login-wrapper form > * {
	margin-top: 8px;
}

.go-submit-form-wrapper {
	padding: 16px;
}

.go-submit-form-wrapper .go-submit-form-center-wrapper {
	display: flex;
	justify-content: center;
}

.go-submit-form-wrapper .form-control {
	width: 95%;
}

.go-submit-form-wrapper .btn {
	margin-top: 8px;
}

.go-user-sidebar {
	max-width: calc(100% - 32px);
	max-height: 90vh;
	overflow-x: hidden;
	overflow-y: scroll;
}

.user-page-status {
	margin: 16px;
	background-color: var(--BG-COLOR-SECONDARY);
	text-align: center;	
	border-radius: 10px;
}

.user-followers {
	border-radius: 10px;
	font-size: 15px;
	min-height: 500px;
	width:325px;
	background-color: var(--BG-COLOR-SECONDARY);
	text-align: center;
}

.user-activities {
	border-radius: 10px;
	margin: 16px;
	height: auto;
	background-color: var(--BG-COLOR-SECONDARY);
}

.people-grid {
	display: grid;
    grid-template-columns: repeat(auto-fit, minmax(299px, 299px));
    grid-gap: 20px;
    padding: 20px;
	justify-content: center;

}
.location-grid {
	display: grid;
    grid-template-columns: repeat(auto-fit, minmax(299px, 299px));
    grid-gap: 20px;
    padding: 20px;
	justify-content: center;
}
.profile-Card {
	height: 200px;
	width:300px;
	cursor: pointer;
	color:black;
	font-size: 20px;
}
.profile-card-description {
	text-align: center;
}
.nav-link {
	color:"white" !important;
	text-decoration:"underline" !important;
}

.searchbar {
	width: 300px !important;
	border: 2px solid #528560 !important;
	box-shadow: none !important;
}
.searchbar-container {
	display: flex;
	justify-content: center;
	align-items: center;
}