@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Poppins&display=swap');

/* Global variables and styles */
:root {
	--BG-COLOR-PRIMARY: #528560;
	--BG-COLOR-SECONDARY: #8BC3AF;
	--BG-COLOR-TERTIARY: #00000020;
	--BG-COLOR-GREY: #D6E4E5;

	background-color: var(--BG-COLOR-GREY);
	font-family: 'Poppins', 'Noto Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
}

.progress-header {
	background-color: var(--BG-COLOR-SECONDARY);
}
